@use "../abstracts/" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-gap, $flex-group-gap);
  row-gap: calc(var(--flex-row-gap, calc($flex-group-gap / 2)));
  // border: 2px solid red;
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}
