$ff-sans: "Lato", sans-serif;
$ff-serif: "Abril Fatface", serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  // 80px
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  // 60px
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  // 27px
  500: 1.3125rem,
  // 21px
  400: 1.125rem,
  // 18px
  300: 1rem,
  // 16px
);

$fw-400: 400;
$fw-700: 700;
